body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    background-color: #752936;
}

h1{
    color: white;
}

#assets {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 125%;
    padding-bottom: 2px;
    margin-left: 2px;
    color: white;
    background-color: black;
}

#nav {
    display: grid;
    height: auto;
    grid-template-rows: 50px;
    font-weight: bold;
    grid-auto-rows: auto;
    justify-content: left;
    background-color: #E0B341;
}

#totals {
    display: grid;
    flex-direction: column;
    justify-content: right;
    font-size: 110%;
    font-weight: bold;
    background-color: #E0B341;
}

#footer {
    display: flexbox;
    flex-direction: row;
    justify-content: left;
    color: white;
    background-color:#752936;
}